@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Baloo Da 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@layer components {
  .bg-gr-emerald {
    @apply bg-gradient-to-b from-emerald-300 via-emerald-500 to-emerald-700;
  }
}
